body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box, .cadastro-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header p {
    font-size: 16px;
    color: #666;
}

.form-container {
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #666;
}

.input-group label i {
    font-size: 18px;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color: #3e8e41;
    
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.school-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.books-svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.school-svg svg, .books-svg svg {
    width: 100%;
    height: 100%;
}

.school-svg svg path, .books-svg svg path {
    fill: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .login-box, .cadastro-box {
        width: 100%;
    }

    .background {
        display: none;
    }
}